@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Zen+Kaku+Gothic+Antique:wght@300&display=swap');
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: rgb(255, 153, 51);
}